.user__input__background
  .user__input__background__end
    = render "progress_header"
  .user__input__end
    .user__input__end__title
      .user__input__end__title-text
        会員登録完了
    .user__input__end__main
      .user__input__end__main-form
        .user__input__end__main-form-field
          ありがとうございます。
          %br
          会員登録が完了しました。
        .user__input__end__main-form-field__next-button
          =link_to "" do
            %input{type: "button", value:"メルカリをはじめる"}
        %br
    .user__input__end__footer-image
      = image_tag "footer_image.png", size: '700x700'
  = render "shared/center_logo_footer"