.items__new__sell__form__about-delivery-form__delivery_method
  %label
    配送方法
  %span.items__new__sell__form__require
    必須
  %br
  %select{name: "delivery_method"}
    %option{value: ""} ---
    - @delivery_methods.invert.each_key do |key|
      %option{value: key}= key
  .items__new__sell__form__confirm-text
    選択してください