.items__sell__form__about-delivery-form__delivery_method
  %label
    配送方法
  %span.items__sell__form__require
    必須
  %br
  %select{name: "item[delivery_method]"}
    %option{value: ""} ---
    - @delivery_methods.invert.each do |key, value|
      - if @delivery_method === value 
        %option{value: value, selected: "selected"}= key
      - else
        %option{value: value}= key
  .items__sell__form__confirm-text