%select{name: "item[category_id]", id: "category_grand_children"}
  %option{value: ""} ---
  - @grand_children.each do |child|
    - if @child === child
      %option{value: child.id, selected: "selected", data:{size:{id: child.size_id}}}= child.name
    - else
      %option{value: child.id, data:{size:{id: child.size_id}}}= child.name