.category-show-contents {
  margin: 0px auto;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  &__content {
    margin: 0 14.5833333%;;
    padding: 50px 0px 55px 0px;
    &__category-link {
      display: inline-block;
      margin-right: 16px;
      & a {
        font-size: 14px;
        @include link-action();
      }
    }
    &__items {
      &__category-name {
        margin: 20px 0px 8px 0px;
        font-size: 22px;
        font-weight: bold;
      }
      &__lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        &__item {
          height: 233px;
          width: 18%;
          background-color: white;
          position: relative;
          box-shadow: 1px 1px rgba(179, 179, 179, 0.589);
          margin: 0px 20px 15px 0px;
          &__image {
            text-align: center;
          }
          &__price {
            border-radius: 0 14px 14px 0;
            background-color: rgba(0, 0, 0, 0.548);
            position: absolute;
            padding: 0 14px;
            color: white;
            top: 55%;
          }
          &__name {
            padding: 14px;
            font-size: 14px;
            min-height: 36px;
            p {
              word-break: break-word;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              color: black;
              background: -webkit-linear-gradient(-70deg, #000000, rgb(45, 45, 43), #FFFFFF);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

          }
          &:nth-child(5n) {
            margin-right: 0px;
          }
          & a {
            text-decoration: none;
          }
        }
      }
    }
    &__pagination {
      margin-top: 40px;
      letter-spacing: -.4em;
      text-align: center;
    }
    &__explanation-box {
      margin-top: 30px;
      &__category-name {
        padding: 10.5px 0px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        background-color: rgb(234, 53, 45);
      }
      &__category-explanetion {
        padding: 30px;
        background-color: #FFFFFF;
        font-size: 14px;
      }
    }
  }
}