.test05{
  background-color: gainsboro;
  height: 40000px;
  width: 100%;
  .test1{
    background-color: gainsboro;
    margin: 40px 290px;
    .test2-2{
    }
    .test2-3{
      .test3-4{
        background-color: blue;
        width: 700px;
        height: 46px;
        .h2{
          padding: 8px 0;
          font-size: 22px;
          text{
            padding: 8px 0;
            font-size: 22px;
            line-height: 1.4;
            background-color: #f5f5f5;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
          }
        }
      }
      .test3-5{
        .test4-2{
          height: 250px;
          width: 700px;
        }
      }
      .test3-6{
        .test4-3{
        }
      }
    }
  }
}