.confirm_purchase_items {
  background-color: #f5f5f5; 
  color: #333333;
  &__logo {
    text-align: center;
    vertical-align: middle;
    height: 88px;
    padding-top: 40px;
  }
  &__contents {
    background-color: #FFFFFF;
    width: 320px;
    padding: 0px 190px;
    margin: auto;
    &__confirm-purchase-item {
      text-align: center;
      padding: 16px;
      height: 32px;
      font-size: 22px;
      font-weight: bold;
      border-bottom: thin solid #f5f5f5;
    }
    &__item {
      padding-top: 24px;
      &__item-picture {
        display: table-cell;
        vertical-align: middle;
        width: 64px;
        height: 64px;
      }
      &__item-name {
        display: table-cell;
        vertical-align: top;
        word-break: break-all;
        padding-left: 16px;
        width: 240px;
        height: 64px;
        font-weight: bold;
      }
    }
    &__price {
      margin-top: 8px;
      text-align: center;
      &__postage {
        margin-left: 8px;
      }
      & p {
        display: inline;
      }
    }
    &__points {
      margin-top: 16px;
      height: 54px;
      text-align: center;
      line-height: 54px;
      background-color: #CCCCCC
    }
    &__payment {
      height: 60px;
      line-height: 60px;
      &__price, &__money {
        display: inline-block;
        font-weight: bold;
      }
      &__money {
        float: right;
      }
    }
    &__validate {
      text-align: center;
      color: red;
    }
    &__purchase {
      
    }
  }
}