
.main-content {
  background-color: rgb(231, 231, 228);
  height: 400px;
}

.shipping-button {
  background-color: red;
  height: 160px;
  width: 160px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.advertisement {
  height: 260px;
}

.footer {
  background-color: rgb(34, 34, 34);
  height: 600px;
}

img {
  max-width: 100%;
  height: auto;
}