@mixin pulldown() {
  &:hover .pull-down {
    visibility: visible;
  }
}

@mixin category-pulldown() {
  &__list {
    background-color: white;
    width: 200px;
    list-style: none;
    padding-left: 14px;
    font-size: 14px;
    border-top: solid 1px rgba(180, 179, 179, 0.274); 
    &:hover {
      background-color:rgb(234, 53, 45);
      color: white;
    }
  }
}