.top-page-main-content {
  background-color: rgb(245, 245, 245);
  .content-box {
    margin: 0 14.5833333%;
    .advertisement {
      font-size: 50px;
      color: white;
      display: flex;
      align-items: center;
      height: 27.6388888vw;
      margin: 0 calc(((100vw - 100%) / 2) * -1);
      background-image: image-url("top-page/top-page-advertisement.png");
      background-size: 100%;
      .move-left {
        margin: 0 auto 0 60px;
        cursor: pointer;
      }
      .move-right {
        margin: 0 60px 0 auto;
        cursor: pointer;
      }
    }
    .main-content {
      .show-recommend {
        background-color: white;
        padding: 56px 0 30px 0;
        margin: 0 calc(((100vw - 100%) / 2) * -1);
        .text {
          font-size: 28px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 16px;
        }
        .list-box {
          display: flex;
          justify-content: center;
          &__list {
            background-color: rgb(239, 239, 239);
            font-size: 14px;
            font-weight: 600;
            padding: 8px 16px;
            border-radius: 15px;
            margin-left: 10px;
            & a {
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }
      .recommend-box {
        padding: 0 0 100px;
        .recommend-item {
          .header {
            font-weight: 600;
            margin-top: 40px;
            display: flex;
            .title {
              font-size: 24px;
            }
            .see-more {
              margin: 0 0 0 auto;
              & a {
                color :#0099e8;
              }
              &__box {
                display: flex;
                &__text {
                  line-height: 32px;
                  font-size: 14px;
                  padding-right: 5px;
                }
                &__icon {
                  font-size: 20px;
                }
              }
              .modify-link-to {
                text-decoration: none;
              }
            }
          }
          .items-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .show-item {
              margin-right: 20px;
              width: 18%;
              background-color: white;
              position: relative;
              box-shadow: 1px 1px rgba(179, 179, 179, 0.589);
              margin-bottom: 15px;
              &:nth-child(5n) {
                margin-right: 0;
              }
              .modify-link-to {
                text-decoration: none;
              }
              a:visited {
                color : black;
              }
              &__image {
                text-align: center;
              }
              &__price {
                border-radius: 0 14px 14px 0;
                background-color: rgba(0, 0, 0, 0.548);
                position: absolute;
                padding: 0 14px;
                color: white;
                top: 55%;
              }
              &__name {
                padding: 14px;
                font-size: 14px;
                min-height: 36px;
                p {
                  word-break: break-word;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                  color: black;
                  background: -webkit-linear-gradient(-70deg, #000000, rgb(45, 45, 43), #FFFFFF);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
  img {
    max-width: 100%;
  }
}

.fade-off {
  opacity: 0;
  transition: all 1s;
}

.fade-on {
    opacity: 1;
}