.mypage__credit-index
  .header
    支払い方法
  .credits
    .credits__header
      クレジットカード一覧

      -# クレジットカード未登録の場合
    = link_to "#", class: "credits__add" do
      .fa.fa-credit-card.credits__add__icon
      .credits__add__text
        クレジットカードを追加する

      -# クレジットカード登録ずみの場合
    -# .credits__index
    -#   = image_tag "master-card.svg", class:"credits__index__brand"
    -#   .credits__index__payment-num
    -#     ************0000
    -#   .credits__index__date
    -#     20/20
    -#   = link_to "削除する", "#", class: "credits__index__remove-btn"


    = link_to "#", class: "explanation" do
      .explanation__text
        支払方法について
      %i.fa.fa-angle-right.content__icon.explanation__icon