.mypage__credit-edit
  .header
    支払い方法
  .credits
    .credits__header
      クレジットカード一覧
    -# = link_to "#", class: "credits__add" do
    -#   .fa.fa-credit-card.credits__add__icon
    -#   .credits__add__text
    -#     クレジットカードを追加する
    .credits__index
      .credits__index__brand
      .credits__index__payment-num
      .credits__index__date
      .credits__index__remove-btn
    = link_to "#", class: "explanation" do
      .explanation__text
        支払方法について
      %i.fa.fa-angle-right.content__icon.explanation__icon