.temporary
  - @items.each do |item|
    .item-list
      = link_to "" do
        .wrapper
          = item.name
          = link_to edit_item_path(item.id) do
            編集
          = link_to item_path, method: :delete do
            削除