.mypage__index{
  height: 1121px;
  width: 700px;
  .header{
    height:200px;
    width: 100%;
    background-image: url(メルカリ背景.jpg);
    position: relative;
    &__link{
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      text-decoration: none;
      color: #333333;
      &__image{
        height: 60px;
        width: 60px;
        border-radius: 60px;
        display: block;
        margin: 0 auto;
      }
      &__user-name{
        margin: 8px 0 0;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
      }
      &__num{
        margin: 8px 0 0 ;
        display: flex;
        font-size: 14px;
        .assessment{
        margin-left: auto;
        }
        .selling{
          margin: 0 auto 0 16px;
        }
      }
    }
    
  }
  .notification{
    &__tabs{
      width: 100%;
      display: flex;
      .tab{
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        line-height: 74px;
        background-color: #eee;
      }
    }
    &__contents{
      .content{
        box-sizing: border-box;
        text-decoration: none;
        display: block;
        display: flex;
        min-height: 80px;
        padding: 16px;
        border-bottom: 1px solid #eee;
        color: #333;
        font-size: 14px;
        position: relative;
        &__image{
          height: 48px;
          width:  48px;
        }
        &__main{
          margin: 0 40px 0 20px;
          &__text{
            word-wrap: break-word;
            width: 560px;  
          }
        }
        &__icon{
          height: 14px;
          position: absolute;
          top: calc(50% - 7px);
          right: 20px;
        }
      }
    }
  }
}
