.mypage__logout{
  width: 700px;
  height: 179px;
  padding:64px;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &__button{
    width: 320px;
    input{
      height:50px;
      background-color: #ea352d;
      width: 320px;
      margin: 8px 0 0;
      padding: 10px 16px 8px;
      border: 1px solid #ea352d;
      line-height: 1.5;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}