@mixin mypageHeader(){
  box-sizing: border-box;
  height: 50px;
  padding: 8px 24px;
  font-size: 24px;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  border-bottom: 2px solid rgb(245, 245, 245);
}