// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-container{
  margin: 40px auto 0;
  width: 1020px;
  height: 1252px;
  //background-color: grey;
}

.my-side{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  //background-color: orange;
}

h3.mypside-bar-nav-head{
  height: 16px;
  padding: 0;
  font-size: 16px;
  margin-top:40px;
  margin-bottom: 0%;
  //background-color: blue;
}

ul{
  list-style: none;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  background-repeat: no-repeat;
  margin-block-start:8px;
  margin-block-end:0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 0%;
}

a{
  text-decoration: none;
}
.myside-bar-nav-list-item{
  position: relative;
  display: block;
  min-height: 8px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
  padding: 13px;
  border-bottom: medium solid  rgb(248, 248, 248);
  border-bottom-width: thin;
}

.big-container{
  background-color: rgb(248, 248, 248)
}

i.fa.fa-angle-right{
  // content: '\e005';
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  transform: translate(0, -50%);
  transition: all ease-out .2s;
}