.category-search-pulldown
  %ul.category-search
    %li.category-search__list
      %a{:href => "#"}
        .category-search__list__title
          .category-search__list__title--icon
            %img{src: "assets/top-page/category-icon.png"}
          .category-search__list__title--text
            カテゴリーから探す
      %ul.grand-category
        / 第一階層
        %li.count
          %a{:href => "#"} grand-category
          %ul.parent-category
            / 第二階層
            %li.count
              %a{:href => "#"} parent-category
              %ul.child-category
                / 第三階層
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
            %li.count
              %a{:href => "#"} parent-category
              %ul.child-category
                / 第三階層
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
            %li.count
              %a{:href => "#"} parent-category
              %ul.child-category
                / 第三階層
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
            %li.count
              %a{:href => "#"} parent-category
            %li.count
              %a{:href => "#"} parent-category
            %li.count
              %a{:href => "#"} parent-category
        %li.count
          %a{:href => "#"} grand-category
          %ul.parent-category
            / 第二階層
            %li.count
              %a{:href => "#"} parent-category
              %ul.child-category
                / 第三階層
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
            %li.count
              %a{:href => "#"} parent-category
              %ul.child-category
                / 第三階層
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
            %li.count
              %a{:href => "#"} parent-category
              %ul.child-category
                / 第三階層
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
                %li
                  %a{:href => "#"} child-category
            %li.count
              %a{:href => "#"} parent-category
            %li.count
              %a{:href => "#"} parent-category
        %li.count
          %a{:href => "#"} grand-category
        %li.count
          %a{:href => "#"} grand-category
        %li.count
          %a{:href => "#"} grand-category