.item-delete-confimation-popup
  .content
    .content__upper
      .confirmation
        確認
      .text
        %P
          削除すると二度と復活できません。
          %br
          削除する代わりに停止することもできます。
          %br
          %br
          本当に削除しますか？
    .content__lower
      .content__lower--cancel
        キャンセル
      = link_to "", class: "content__lower--delete" do
        削除する