.main-header
  = render "items/top-page-header"
.main-content
  = render partial: "items/top-page-main-contents", locals: {itemsCategory1: @itemsCategory1, category1: @Category1, |
                                                              itemsCategory2: @itemsCategory2, category2: @Category2, |
                                                              itemsCategory3: @itemsCategory3, category3: @Category3, |
                                                              itemsCategory4: @itemsCategory4, category4: @Category4}

.top-page-shipping-button
  = render "items/shipping-button"
.main-footer
  = render "items/top-page-footer"