.main-header
  = render "items/top-page-header"
.main-content
  main
.shipping-button
  button
.advertisement
  %image{src: "assets/top-page/top-page-footer-advertisement.png"}
.main-footer
  = render "items/top-page-footer"