%head
  %link(rel="stylesheet", href="items.scss")

    .confirm_purchase_items
      .confirm_purchase_items__logo
        = image_tag 'mercarilogo.svg', size: "185x50"
      .confirm_purchase_items__contents
        .confirm_purchase_items__contents__confirm-purchase-item
          購入内容の確認
        .confirm_purchase_items__contents__item
          .confirm_purchase_items__contents__item__item-picture
            = image_tag 'confirm_purchase_items__item__picture.jpg', size: '64x64'
          .confirm_purchase_items__contents__item__item-name
            商品名
        .confirm_purchase_items__contents__price
          ¥2,500
          送料込み
        .confirm_purchase_items__contents__points
          ポイントはありません
        .confirm_purchase_items__contents__payment
          支払い金額
          ¥2,500
        .confirm_purchase_items__contents__validate
          配送先と支払内容の入力を完了してください。
        .confirm_purchase_items__contents__purchase
          購入する
        .confirm_purchase_items__contents__shipping-address
          配送先
          〒
          .confirm_purchase_items__contents__shipping-address__edit
            変更する >
        .confirm_purchase_items__contents__method-of-payment
          支払方法
          .confirm_purchase_items__contents__method-of-payment__edit
            変更する >　


      -#　以下レンダー予定
      .confirm_purchase_items__footer