
.breadcrumbs{
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  height: 48px;
  border-top: 1px solid #eee;
  width: 100%;
  font-size: inherit;
  .ul{
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    white-space: normal;
    margin-left:190px;
    margin-right:130px;
    overflow: visible;
    font-size: 16px;
    .li{
      .breadcrumbs-list{
        font-size: 16px;
        height: 24px;
        background-color: #fff;
      }
    }
  }
}


.breadcrumb{
  .breadcrumb-item{
    &:first-child {
      &:before{

      }
    }
    &:before{
      padding: 0 .2em;
     }
  }
}
