= render 'items/top-page-header'
- breadcrumb :category
= render "layouts/breadcrumbs"
.test05
  .test1
    .test2-2
    .test2-3
      .test3-4
        .h2
          かてごりーの商品一覧
      .test3-5
        .test4-2
= render 'items/top-page-footer'