.user__background{
  background-color:#f5f5f5;
  .signup__main{
    background-color:#fff;
    width:50%;
    margin:0 auto;
    text-align:center;
    &-title{
      border-bottom:solid 1px #eeeeee;
      padding:20px 0;
      &__text{
        font-size:22px;
      }
    }
  }
}




