.user__input__background
  .user__input__background__sms
    = render "progress_header"
  .user__input__sms__confirm
    .user__input__sms__confirm__title
      .user__input__sms__confirm__title-text
        電話番号の確認
    .user__input__sms__confirm__main
      .user__input__sms__confirm__main-form
        .user__input__sms__confirm__main-form-field
          %label
            携帯電話の番号
          %input{placeholder:  "携帯電話の番号を入力", type: "text_field"}
        .user__input__sms__confirm__main-form__confirm-text
          会員登録できません。
        .user__input__sms__confirm__main__precautions-text
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %br
        .user__input__sms__confirm__main-form-field__next-button
          %input{type: "button", value:"SMSを送信する"}
        .user__input__sms__confirm__main__precautions-text
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .user__input__sms__confirm__main__about-registration
          .user__input__sms__confirm__main__about-registration-text
            -# リンク仮置き。次のページへ
            = link_to users_signup_sms_path do
              ="電話番号の確認が必要な理由＞"


  = render "shared/center_logo_footer"